@using Data
@using Services
@inject IAppService AppService
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About @appData.Mode</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private AppData? appData;

    protected override async Task OnInitializedAsync()
    {
        appData = await AppService.GetDataAsync();
    }
}
